html, body {
  background-color: gray;
}

#titleTop {
  color: White;
  position: relative;
  top: 14px;
}
#currentCity {
  height: 220px;
  background-color: white;
  margin-top: 20px;
  padding: 16px;
  border-radius: 10px;
  position: relative;
  bottom: 20px;
}

.weather-container {
  background-color: white;
}

#fiveDayCards {
  background-color: powderblue;
  width: 760px;
  padding: 20px;
  border-radius: 10px;
  position: fixed;
  top: 320px;
}

.five-day {
  color: white;
}

#run-search{
  background-color: skyblue;
  color: white;
  float: right;
  position: relative;
  bottom: 38px;
  : 10px;
}

.text-left{
  border-radius: 10px;
}

p {
  position: relative;
  top: 20px;
  left: 32px;
  color: grey;
}

#enteredCities {
  background-color: white;
  height: 414px;
  position: relative;
  top: 20px;
  border-radius: 10px;
}